DJANGO_SECRET_KEY=replace_with_a_long_random_value
POSTGRES_DB=db_PP
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
YOOKASSA_SHOP_ID=your_test_shop_id
YOOKASSA_SECRET_KEY=your_test_secret_key
